@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

/* Color Palatte: https://colorswall.com/palette/36406/ */

html, body , .container {
  margin: 0;
  font-family: 'Crete Round', serif;
}

#header-div {
  width: 100%;
  display: block;
}

#header-img {
  width: 100%;
  display: block;
}

#header {
  position: relative;
}

#header-title {
  position: absolute;
  top: 50%;
  right: 55px;
  margin: auto;
  transform: translateY(-50%);
}

#header-text, #header-short {
  color: #f6f0e6;
  margin: 0;
}

#header-text {
  font-family: 'Rye', cursive;
  font-size: 58px;
  font-weight: 200;
  padding: 0 0 5px;
}

#header-short {
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  color: #b81237;
}

#main {
  background-color: #fcf1e4;
  padding: 5px 0 5px 0;
  text-align: center;
}

#main-content {
  max-width: 700px;
  margin: 75px auto 75px;
  text-align: left;
  font-size: 20px; 
}

#main-title {
   font-size: 35px;
   color: #351d04;
   font-weight: 700;
}

#main-paragraph {
  font-family: 'Josefin Slab', serif;
  color: #97540b;
  line-height: 2;
  font-weight: 700;
}

 #footer {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  /* may remove above */
  background-color: #fbe5cd;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 18px;
  line-height: 2;
  color: #351d04;
}

#to-be-changed {
  background-color: #fcf1e4; 
  padding: 5px 0 5px 0;
  height: 100vh;
}

.link {
  color: #b81237;
}

.link:hover {
  color: #910e2a;	
  text-decoration: none;
}