@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Color Palatte: https://colorswall.com/palette/36406/ */

html, body , .container {
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  margin: 0;
}

#img-div, #image {
  background-color: black; /* may delete, this is for when making the page more responsive (when the image shrinks, the background color will show behind the header image*/
  display: block;
  /* width: 100%; */
  max-width: 100%;
  /* height: auto; */
}

#img-caption {
  background-color: #fbe5cd;
  text-align: center;
  margin: 0;
  padding: 5px 0 5px;
  font-size: 14px;
  font-style: italic;
  font-weight: 100px;
  color: #351d0499;
}

#header {
  position: relative;
}

#header-text {
  position: absolute;
  top: 50%;
  right: 55px;
  margin: auto;
  transform: translateY(-50%);
  text-align: center;
}

#title, #short {
  margin: 0;
}

#title {
  font-size: 70px;
  font-weight: 700;
  padding: 0 0 5px;
  color: #f6f0e6;
}

#short {
  font-size: 18px;
  font-style: italic;
  color: #efb802;
}

#main {
  background-color: #fcf1e4;
  padding: 5px 0 5px 0;
  text-align: center;
}

#main-content {
  max-width: 700px;
  margin: 60px auto 60px;
  text-align: left;
  font-size: 20px;
  line-height: 2;
  color: #97540b;
}

#main-img {
  max-width: 700px;
  width: 700px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 40%;
  border-radius: 10px;
  margin-top: 15px;
}

.main-title {
   font-size: 35px;
   color: #351d04;
   font-weight: 700;
   margin: 0;
}

#timeline-title {
  margin: 20px 0;
}

#info-list {
  font-family: 'Merriweather', serif;
}

#main-paragraph {
  font-family: 'Merriweather', serif;
}

strong {
  color: #351d04;
}

#album-header {
  font-size: 35px;
  color: #351d04;
  font-weight: 700;
  margin: 0 0 20px;
}

#albums > em {
  font-size: 10px;
}

#album-covers {
  display: flex;
  justify-content: center;
}

#album-covers > a > img {
  border-radius: 7px;
  width: 250px;
  height: 250px;
  margin: 0 10px 0 10px;
}

 #footer {
  font-family: 'Merriweather', serif;
  background-color: #fbe5cd;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 18px;
  color: #97540b;
}

#more-info {
  margin: 0;
}

#page-author {
  margin: 5px 0 0;
}

.link {
  color: #b81237;
}

.link:hover {
  color: #efb802;
  text-decoration: none;
}

/* testing commits after changing my global config to my proper email */